.calc__risk-title, .calc__risk-compensation, .calc__risk-compensation p, .check-risk, .compensation-input,
.input__label, .input__input-box, .elem__checkbox, .elem__title,
.select__label, .input__select-box {
    display: inline-block;
}

.risk__elem, .insurance-premium, .insurance-commission {
    display: flex;
}

.calc__risk-title {
    margin-right: 15px;
}

.calc__input, .calc__select{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 10px;
}

.calc__input {
    max-width: 50%;
}

.risk__elem, .details__elem {
    margin-top: 5px;
}

.check-risk-hidden {
    display: none;
}

.details-container__title, .risk-container__title {
    font-weight: 700;
}

.calc__details-container, .calc__risk-container {
    margin-bottom: 20px;
}